#ghx-header.autumn { background: url("autumn.jpg") 2px bottom no-repeat; padding-left: 130px; background-size: 120px 80px; }
#ghx-header,
#ghx-header.spring { background: url("spring.jpg") 2px bottom no-repeat; padding-left: 130px; background-size: 120px 80px; }
#ghx-header.easterbunny { background: url("easter.jpg") 5px bottom no-repeat; padding-left: 90px; background-size: 80px 80px; }
#ghx-header.snowman { background: url("winter.png") 13px bottom no-repeat; padding-left: 90px; background-size: 61px 80px; }
#ghx-header.christmas-tree { background: url("tree.jpg") left bottom no-repeat; padding-left: 90px; background-size: 74px 80px; }
#ghx-board-name,.subnavigator-title { color: transparent; }
.subnavigator-title::before { content: "Scisoft MX team status"; color: black; }
#ghx-release { display: none; }

.ghx-issue { border: 1px solid black; border-radius: 0 3px 3px 0; border-left: 0; }
.ghx-issue .ghx-issue-content { min-height: 0; padding-left: 13px; padding-bottom: 2px; padding-top: 7px; }
.ghx-issue .ghx-extra-fields { margin: 0; }
.ghx-issue .ghx-extra-fields .ghx-extra-field { font-size: 10px; margin-top: 3px; font-weight: bold; color: #C84; }
.ghx-issue .ghx-extra-fields .ghx-extra-field.ghx-fa { display:none; }
.ghx-issue .ghx-flags { display: none; left: auto; right: 47px; top: 7px; }
.ghx-issue.ghx-flagged { background-color: #ffeeee; }
.ghx-issue.ghx-flagged .ghx-flags { display: block !important; }
.ghx-issue .ghx-highlighted-fields {
    font-size: inherit;
    max-width: 100%;
    padding-right: 0;
    position: absolute;
    right: 45px;
    top: -5px;
}
.ghx-issue .ghx-highlighted-fields .ghx-highlighted-field { margin-left: 9em; }
.ghx-issue .ghx-highlighted-fields .ghx-highlighted-field span.aui-label {
    border: 0;
    font-size: 12px;
    padding: 2px 5px;
}
.ghx-issue .ghx-type { display: none; }
.ghx-issue .ghx-days { z-index: 100; }
.ghx-issue.ghx-done .ghx-key a { text-decoration: none }
.ghx-issue-fields .ghx-summary .ghx-inner { overflow: visible; }
.ghx-column-headers .ghx-column:nth-child(1) { border-color: blue; }
.ghx-column-headers .ghx-column:nth-child(2) { border-color: yellow; }
.ghx-column-headers .ghx-column:nth-child(3) { border-color: greenyellow; }
.ghx-column-headers .ghx-column:nth-child(4) { border-color: green; }
.ghx-columns .ghx-column:nth-child(1) { background-color: #EEF8FF; }
.ghx-columns .ghx-column:nth-child(2) { background-color: #FFD; }
.ghx-columns .ghx-column:nth-child(3) { background-color: #EFD; }
.ghx-columns .ghx-column:nth-child(4) { background-color: #DFD; }

.minor-issue { font-size: 80%; opacity: 0.8 }
.minor-issue .ghx-avatar { text-align: right; top: 8px;}
.minor-issue .ghx-days { display: none;}
.minor-issue .ghx-issue-content { padding-top: 4px; padding-bottom: 4px; }
.minor-issue img { width: 40%; height: 40%; text-align: right; }

.trivial-issue { font-size: 80%; opacity: 0.8 }
.trivial-issue .ghx-avatar { text-align: right; top: 8px;}
.trivial-issue .ghx-days { display: none;}
.trivial-issue .ghx-issue-content { padding-top: 4px; padding-bottom: 4px; }
.trivial-issue img { width: 40%; height: 40%; text-align: right; }

.js-kanplan-enable-inline-dialog { display: none !important; }

/* epics markup */
.ghx-issue.ghx-type-6 { background-image: linear-gradient(to right, #CFE, #FFF 40%); }
.ghx-issue.ghx-type-6 .ghx-grabber { width: 5px; }
.aui-label[data-epickey="SCI-6218"] { background: #055; color: #fff; }
.aui-label[data-epickey="SCI-7796"] { background-image: linear-gradient(to right, #005, #009); color: #fff; }
.aui-label[data-epickey="SCI-7496"] { background-image: linear-gradient(to right, #040, #080); color: #fff; }
